<p-card class="p-4 shadow-lg rounded-lg">
    <ng-template pTemplate="title">
        Approved Annual Procurement Plans
    </ng-template>
    <div class="flex justify-between mb-4">
        <p>Review Annual Procurement Plans here.</p>
        <div class="relative w-[300px]">
            <i class="pi pi-search absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
            <input
            pInputText
            type="text"
            placeholder="Search Procurement Plans"
            class="w-full border border-gray-300 rounded-md py-2 pl-10 pr-3 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder:ml-6"
            />
        </div>
    </div>
    <ng-template pTemplate="content">
        <p-table [value]="documents" class="w-full">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Document Name</th>
                    <th>Type</th>
                    <th>Submission Date</th>
                    <th>Submitted By</th>
                    <th>Reviewer</th>
                    <th>Status</th>
                    <th>Approval Date</th>
                    <th>Attachments</th>
                    <th>Actions</th>    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-doc>
                <tr>
                    <td>{{ doc.id }}</td>
                    <td>{{ doc.name }}</td>
                    <td>{{ doc.type }}</td>
                    <td>{{ doc.submissionDate }}</td>
                    <td>{{ doc.submittedBy }}</td>
                    <td>{{ doc.reviewer }}</td>
                    <td>
                        <span [ngClass]="getStatusClass(doc.status)">{{ doc.status }}</span>
                    </td>
                    <td>{{ doc.approvalDate || '-' }}</td>
                    <td>
                        <a *ngFor="let attachment of doc.attachments" [href]="attachment" target="_blank"
                           [ngClass]="getAttachmentClass()" class="block">
                          {{ attachment }}
                        </a>
                    </td>
                    <td>
                    <button pButton pTooltip="Post to PhilGEPS" tooltipPosition="top"
                            icon="pi pi-check" class="p-button-success p-button-sm" [rounded]="true" [outlined]="true"
                            (click)="approveDocument(doc)">
                    </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</p-card>

<p-toast position="bottom-right"></p-toast>