<mat-card class="cardWithShadow">
    <mat-card-content>
      <mat-card-title>{{config.title}}</mat-card-title>
      <mat-card-subtitle class="mat-body-1 mb-10 !flex justify-between items-center">
        <span> {{config.description}} </span>
        <p-iconfield fluid class="w-full max-w-72">
          <p-inputicon styleClass="pi pi-search" />
          <input
            fluid
            class="w-full"
            pSize="small"
            [(ngModel)]="searchValue"
            (input)="dt.filterGlobal(searchValue, 'contains')"
            type="text"
            pInputText
            placeholder="Search"
          />
        </p-iconfield>
      </mat-card-subtitle>
  
      <div class="card flex items-center justify-end-full py-3 px-4 gap-3">
        @if(config.topAction){
          <p-button [pTooltip]="config.topAction.tooltip" [outlined]="true" size="small" [label]="config.topAction.label"
        (click)="config.topAction.function()" [icon]="config.topAction.icon" />
        }
      </div>
  
      <!-- Disbursement Voucher Table -->
      <p-table
        #dt
        [rowHover]="true"
        [value]="filteredData()"
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20]"
        [globalFilterFields]="getFieldNames()"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template #header>
          <tr>
            @for(column of getColumnNames(); track column){
                <th>{{column}}</th>
            }
            @if(hasActions()){
              <th style="width: 5rem">Actions</th>
            }
          </tr>
        </ng-template>
  
        <ng-template #body let-row>
          <tr>
            @for(field of getFields(); track field){
              <td>{{formatValue(field,row)}}</td>
            }
            @if(config.tabs){

              @for(tab of config.tabs; track tab.id){
                @if(isActiveTab(tab.id) && hasActions()){
                  <td>
                    <div class="flex gap-3">
                      @for(action of tab.actions; track action.label){
                        @if(action.hidden ? !action.hidden(row):true){
                          <p-button
                            [severity]="action.color"
                            [pTooltip]="action.tooltip"
                            [outlined]="true"
                            size="small"
                            [disabled]="action.disabled ? action.disabled(row):false"
                            [icon]="action.icon"
                            [rounded]="action.shape == 'rounded'"
                            (click)="action.function ? action.function($event,row):null"
                          ></p-button>
                        }
                      }
                    </div>
                  </td>
                }
              }
            }@else{
              <td>
                <div class="flex gap-3">
                  @for(action of this.config.actions; track action.label){
                    @if(action.hidden ? !action.hidden(row):true){
                      <p-button
                        [severity]="action.color"
                        [pTooltip]="action.tooltip"
                        [outlined]="true"
                        size="small"
                        [disabled]="action.disabled ? action.disabled(row):false"
                        [icon]="action.icon"
                        [rounded]="action.shape == 'rounded'"
                        (click)="action.function ? action.function($event,row):null"
                      ></p-button>
                    }
                  }
                </div>
              </td>
            }
          </tr>
        </ng-template>
  
        <ng-template #emptymessage>
          <tr>
            <td [attr.colspan]="getColumnNames().length + (hasActions() ? 1 :0)">
              <div class="flex flex-col w-full items-center justify-center mb-8">
                <div class="overflow-hidden h-52 w-52 mr-8">
                  <app-lottie-animation animation="box" class="w-60 h-60"></app-lottie-animation>
                </div>
                <span>No items found.</span>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </mat-card-content>
  </mat-card>
  <p-confirmpopup />