<div #purchaseRequest class="p-10 bg-white shadow-md rounded-lg">
    <h1 class="text-2xl font-bold mb-4 flex justify-center">Purchase Request</h1>
    
    <div class="mb-4 text-xl">
        <div class="flex flex-row justify-between">
            <p><strong>PR No.:</strong> 520240905089-0-1</p>
            <p><strong>Date:</strong> November 14, 2024</p>
        </div>
        <p><strong>Agency:</strong> PHILIPPINE INSTITUTE OF VOLCANOLOGY AND SEISMOLOGY</p>
        <div class="flex flex-row gap-20">
            <p><strong>Division:</strong> SOEPD</p>
            <p><strong>Section:</strong> SMEE</p>
        </div>
        
      
    </div>
  
    <table class="w-full border-collapse border border-gray-300">
      <thead>
        <tr class="bg-gray-200">
          <th class="border border-gray-300 p-2">Qty</th>
          <th class="border border-gray-300 p-2">Unit</th>
          <th class="border border-gray-300 p-2">Item Description</th>
          <th class="border border-gray-300 p-2">Stock No</th>
          <th class="border border-gray-300 p-2">Estimated Unit Cost</th>
          <th class="border border-gray-300 p-2">Estimated Total Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-gray-300 p-2">3</td>
          <td class="border border-gray-300 p-2">Unit(s)</td>
          <td class="border border-gray-300 p-2">
            NETWORK ATTACHED STORAGE<br>
            Specifications:<br>
            • CPU Frequency: 4-core up to 3.6 GHz<br>
            • Hardware Encryption Engine (AES-NI)<br>
            • Memory: 16 GB (8x2) DDR4<br>
            • Drive Bays: 8<br>
            • External Ports: 2 (1GbE LAN Port) with Link Aggregation/Failover, 1 (10GbE LAN Port), 3 (USB 3.2 Gen 1 Port), 2 (eSATA Port)<br>
            • Hard Drives: 8 (4TB 3.5" Enterprise SATA HDD)<br>
            • Certifications: FCC, CE, BSMI, VCCI, RCM, EAC, CCC, KC<br>
            • RoHS Compliant<br>
            • Supports RAID<br>
            • Warranty: 5 years parts, labor and onsite<br>
            Inclusion: Uninterruptible Power Supply<br>
            • Rated power: 2200 VA, 230V<br>
            • Input frequency: 50/60 Hz +/- 5 Hz auto-sensing<br>
            • Output frequency: 50/60 Hz +/- 1 Hz sync to mains<br>
            • Product certifications: CE<br>
            • IP degree of protection: IP20<br>
            • Standards: EN/IEC 62040-1:2019/A11:2021, EN/IEC 62040-2:2006/AC:2006, EN/IEC 62040-2:2018<br>
            • Warranty: 2 years<br>
            • Brand must be at least 40 years in the market
          </td>
          <td class="border border-gray-300 p-2">-</td>
          <td class="border border-gray-300 p-2">250,000.00</td>
          <td class="border border-gray-300 p-2">750,000.00</td>
        </tr>
      </tbody>
    </table>
  
    <div class="mt-4 text-xl">
      <p><strong>Purpose:</strong> Will be used as backup storage unit for intensity meter data (Capital Outlay - Equipment FY 2025)</p>
    </div>
  
    <div class="mt-4 text-xl flex flex-row justify-between">
      <p class="ml-20"><strong>Requested By:</strong><br> Ishmael C. Narag</p>
      <p class="mr-20"><strong>Approved By:</strong><br> Teresito C. Bacolcol</p>
    </div>
    <div class="mt-4 text-xl flex flex-row justify-between">
        <p class="ml-20"><strong>Signature:</strong><br></p>
        <p class="mr-20"><strong>Signature:</strong><br></p>
      </div>
  </div>
  
  <p-button label="Export to PDF" (onClick)="exportPdf()" class="mt-4"></p-button>