<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
    <div class="col-lg-10 d-flex align-items-center">
      <mat-card class="boxed-auth rounded-3xl py-6 overflow-clip border-solid border-8 border-black">
        <mat-card-content class="p-32">
          <div class="flex justify-center items-center">
              <img
                src="./assets/images/logos/qbyy.png"
                class="m-2 h-20"
                alt="logo"
              />
            <app-lottie-animation animation="box" class="flex-1" />
          </div>
          <form [formGroup]="form" class="m-t-30 flex flex-col gap-16">
            <p-iftalabel>
              <input pInputText size="small"  id="username" formControlName="username" fluid/>
              <label for="username" class="mt-1">Username</label>
              <small 
              *ngIf="form.get('username')?.invalid && form.get('username')?.touched"
              id="username-error" class="ml-1 text-red-500">Username is required.</small>
            </p-iftalabel>
            <p-iftalabel>
              <div class="relative">
                <p-password  size="small" [toggleMask]="true" [feedback]="false"  inputId="password" type="password" class="rounded-xl" formControlName="password" fluid />
              </div>
              <label for="password" class="mt-1">Password</label>
              <small 
              *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched"
              id="password-error" class="ml-1 text-red-500">Password is required.</small>
              <small 
              *ngIf="form.get('password')?.hasError('minlength') && form.get('password')?.touched"
              id="password-error" class="ml-1 text-red-500">Minimum password length is 6 characters.</small>
            </p-iftalabel>
            <div class="d-flex align-items-center m-b-12">
              <mat-checkbox color="primary">Remember this Device</mat-checkbox>
              <a
                [routerLink]="['/']"
                class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14"
                >Forgot Password ?</a
              >
            </div >
            <div class="flex flex-col gap-10 w-100 items-center"> 
              <a [routerLink]="['/']" mat-flat-button color="primary" class="w-full">
                Sign In
              </a>
            </div>
            <!-- input -->
          </form>
          <span class="d-block f-w-500 text-center m-t-24"
            >Doesn't have an account?
            <a
              [routerLink]="['/authentication/register']"
              class="text-decoration-none text-primary f-w-500 f-s-14"
            >
              Request an account</a
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
