<div class="p-grid p-m-4">
    <div class="p-col-12">
      <p-card header="Approved Budgets">
        <p-table [value]="budgets">
          <ng-template pTemplate="header">
            <tr>
              <th>Department</th>
              <th>Amount</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-budget>
            <tr>
              <td>{{ budget.department }}</td>
              <td>{{ budget.amount | currency }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>